<h4 class="ui center aligned medium icon header">
  <i class="teal hand lizard icon"></i>
  im lizerd
</h4>


<div class="ui two column grid">
    <div class="twelve wide column">
      <div class="ui fluid raised card chatbox">
		<div class="content">
			<div class="ui feed">
			  <%= render @messages %>
			</div>
		</div>
			<div class="extra content">
				<form class="ui reply form">
				<div class="field">
				<div class="ui action input">
					<input placeholder="Add message..." type="text">
					<button class="ui teal button">Post!</button>
				</div>
				</div>
				</form>
			</div>
    </div>
  </div>

  <div class="ui four wide column">
    <div class="ui fluid raised card chatbox">
      <div class="content">
        <div class="ui vertical menu">
          <a class="teal item">
          Users
          </a>
		  <%= render 'userlist' %>
        </div>
      </div>
    </div>
  </div>

</div>
