<%= link_to 'Chatroom', root_path, :class => "item" %>
<div class="right menu">
  <div class="item">
    <% if logged_in? %>
      <%= current_user.username %>
    <% else %>
      Not logged in
    <% end %>  
  </div>
  <div class="item">
    <% if logged_in? %>
      <%= link_to 'Log Out', logout_path, method: :delete, :class => "ui teal button"   %>
    <% else %>
      <%= link_to 'Log In', login_path, :class => "ui teal button"  %>
    <% end %>
  </div>
</div>